@*@model IEnumerable<Vidli.Models.MovieModel>*@
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink("New", "New", null, new { @class = "btn btn-primary" })
<table id="movies" class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Movies List</th>
        <th>Genere</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>

    @*@if (Model.Count() > 0)
        {
            foreach (var movie in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(movie.Name, "Edit", new { Id = movie.Id }, null)
                    </td>
                    <td> @movie.Genre.Name</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td> Currently no movies</td>
            </tr>
        }*@


    </tbody>
</table>

@section scripts
{
    <script>
        var table = $("#movies").DataTable({
            ajax: {
                url: "api/movies",
                dataSrc: ""
            },
            columns: [
                {
                    data: "name",
                    render: function(data, type, movie) {
                        return "<a href='Movie/Edit/" + movie.id + "'>" + movie.name + "</a>";
                    }
                },
                {
                    data: "genre.name"
                },
                {
                    data: "id",
                    render: function(data) {
                        return "<button class='btn-link js-delete' data-movie-id='" + data + "'>Delete</button>";
                    }
                }
            ]
        });

        $(document).ready(function() {
            $("#movies").on("click",
                ".js-delete",
                function() {
                    var button = $(this);
                    bootbox.confirm("Are you sure want to delete movie?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "api/movies/" + button.attr("data-movie-id"),
                                    method: "DELETE",
                                    success: function() {
                                        table.row(button.parents("tr")).remove().draw();
                                    }
                                });
                            }
                        });
                });
        });
    </script>
}


